<div class="comment flex align-start full-width <%= "comment--mine" if comment.creator == Current.user %>" id="<%= dom_id(comment) %>">
  <figure class="comment__avatar avatar fill-black txt-reversed flex-item-no-shrink"><strong><%= comment.creator.initials %></strong></figure>

  <div class="comment__content flex flex-column full-width fill-shade border-radius">
    <div class="comment__author flex align-center gap-half">
      <strong><%= comment.creator.name %></strong>
      <%= link_to project_bubble_path(comment.bubble.project, comment.bubble, anchor: "comment_#{comment.id}"), class: "txt-undecorated" do %>
        <time class="comment__timestamp"><%= comment.created_at.strftime("%b %d").html_safe %></time>
      <% end %>
    </div>
    <div class="comment__body txt-align-start">
      <%= simple_format comment.body %>
    </div>
  </div>
</div>
